<nav class="pt-3 fixed-top bg-white">
    <a href="#" class="float-left iconNav"><i class="fab fa-pinterest text-danger"></i></a>
    <div class="col-12 containerMenu">
        <form class="form-inline col-6">
            <div class="input-group mb-2 mr-sm-2 ml-3 col-12">
                <div class="input-group-prepend ">
                    <div class="input-group-text border-0 bg-ligth"><i class="fas fa-search iconSearch"></i></div>
                </div>
                <input type="text" class="form-control searchNav border-0" placeholder="Buscar">
            </div>
        </form>
        <div class="col-5 float-right d-flex justify-content-around linkNav">
            <button class="activeLink btn btnNav">Inicio</button>
            <button class="btn btnNav">Siguiendo</button>
            <button class="btn btnNav">Explorar</button>
            <button class="btn btnNav"><i class="fas fa-user-circle"></i> Valeria</button>
            <button class="btn btnNav"><i class="fas fa-comment"></i></button>
            <button class="btn btnNav"><i class="fas fa-bell"></i></button>
            <button class="btn btnNav"><i class="fas fa-ellipsis-h"></i></button>
        </div>

    </div>
    <hr>
</nav>