<div *ngFor="let photoCard of photoJSON" class="modal fade showColor" id="id{{photoCard.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <button type="button" class="close mr-2 mt-2" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
    <div class="modal-dialog modal-dialog-centered w-50" role="document">
        <div class="modal-content  border-0 rounded">
            <div class="header">
                <div class="pinsModal">
                    <span><i class="fas fa-upload px-2"></i></span>
                    <span><i class="fas fa-check px-2"></i></span>
                    <span><i class="fas fa-ellipsis-h px-2"></i></span>
                </div>
                <button class="btn btn-danger btnModal"><i class="fas fa-thumbtack pr-1"></i> Guardar</button>
            </div>
            <h5 class="titlePhotoModal">{{photoCard.namePhoto}}</h5>
            <div class="modal-body">
                <img class="card-img-top photoCard" src="{{photoCard.urlPhoto}}" alt="Card image cap">
            </div>
            <div class="footer">
                <div class="pinsModal">
                    <span><i class="fas fa-upload px-2"></i></span>
                    <span><i class="fas fa-check px-2"></i></span>
                    <span><i class="fas fa-ellipsis-h px-2"></i></span>
                </div>
                <button class="btn btn-danger btnModal"><i class="fas fa-thumbtack pr-1"></i> Guardar</button>
            </div>
            <div class="infoFooterModal">
                <div class="avatarCard">M</div>
                <p class="authorPhoto">{{photoCard.nameAuthor}}</p>
                <button class="btnRead">Leerlo</button>
            </div>
            <div class="descripcionModalFooter">
                <p class="a">{{photoCard.description}}</p>
            </div>
        </div>
    </div>
</div>