<div class="container-fluid contBtnNav">
    <div class="row">
        <div class="col-12 d-flex justify-content-around">
            <i class="fas fa-angle-left iconDirection"></i>
            <button class="btn btn-info">Dress</button>
            <button class="btn btn-warning">San Miguel De Allende</button>
            <button class="btn btn-success">Friki</button>
            <button class="btn btn-danger">Invitaciones</button>
            <button class="btn btn-dark">Fotography</button>
            <button class="btn btn-warning">Photocall</button>
            <button class="btn btn-ligth">Damas</button>
            <button class="btn btn-primary">Ilumination</button>
            <button class="btn btn-secondary">Ramo</button>
            <button class="btn btn-info">Souvenires</button>
            <button class="btn btn-warning">Invitacion</button>
            <button class="btn btn-success">Ramos</button>
            <i class="fas fa-angle-right iconDirection"></i>
        </div>
    </div>
</div>