.btnsFloat {
    z-index: 99999;
    top: 75%;
    position: fixed;
    right: 5%;
}

.btnPin {
    padding: 10px;
    background-color: #E9ECEF;
    border-radius: 50px;
    box-shadow: 2px 3px 6px 0px rgba(0, 0, 0, 0.50);
    cursor: pointer;
}

.titleAddPinModal,
.titleInputModal {
    color: #666666;
}

.boxUpPin {
    border: #999 2px dashed;
    width: 200px;
    height: 300px;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.boxUpPin p {
    padding: 40px;
    color: #666;
    margin-top: 50px;
}

.textareaSize {
    resize: none;
    height: 184px !important;
}

.modal-footer {
    justify-content: start !important;
}

.contentBtnPin {
    background-color: #EFEFEF;
    border-radius: 50px;
}

.btnPinModal1 {
    background: #ffffff;
    border: 2px solid #EFEFEF;
    font-weight: 500;
    margin-right: -10px;
    font-size: 14px;
    color: #666;
}

.btnPinModal2 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: 2px solid #EFEFEF;
    background-color: #EFEFEF;
    font-size: 14px;
    color: #9F9F9F;
    font-weight: 500;
}

.btnPinModal3 {
    float: right;
    background-color: #EFEFEF;
    font-size: 14px;
    color: #9F9F9F;
    font-weight: 500;
}